{{- if .Values.ingress }}
{{ $relname := .Values.service.name }}
{{ if .Values.service.type }}
{{ else }}
{{ $relname := .Values.service.name }}
{{ $annotations := toYaml .Values.ingress.annotations | indent 4 }}
{{- range .Values.ingress.hosts }}
{{- $hostname := .name }}
{{ $domain := (split "." .name)._0 }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $relname }}-{{ $domain }}
  annotations:
{{ $annotations }}
spec:
  tls:
  - hosts:
    {{- range .rules }}
    - {{ .subdomain }}{{ $hostname }}
    {{- end }}
    {{- if .secretName }}
    secretName: {{ .secretName }}
    {{- else }}
    secretName: {{ $relname}}-{{ $hostname }}-tls
    {{- end }}
  rules:
    {{- range .rules }}
    - host: {{ .subdomain }}{{ $hostname }}
      http:
        paths:
        - path: {{ default "/" .path }}
          pathType: Prefix ## Supported options: Prefix, Exact and Mixed
          backend:
            service:
              name: {{ $relname }}
              port:
                number: 80
    {{- end }}
---
  {{ end }}

{{ end }}
{{ end }}