apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default .Release.Name}}
spec:
  ports:
  - port: {{ .Values.service.externalPort }}
    targetPort: {{ .Values.service.internalPort }}
    protocol: TCP
    name: {{ .Release.Name }}
  selector:
    load-balancer-{{ .Release.Name }}: 'true'
  {{- if .Values.service.type }}
  type: {{ .Values.service.type }}
  {{- end }}