apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: "{{ .Release.Name }}"
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: {{ .Release.Name }}