# deployment:
#   enabled: false
# replicaSet:
#   enabled: true
#   healthcheck: /healthz
#   podAnnotations: {}
#   revisionhistory: 3
#   podAntiaffinity:
#     enabled: true
#   initialDelaySeconds: 10 
#   image:
#     repository: nginx
#     tag: latest
#     pullPolicy: IfNotPresent
#   minReadySeconds: 1 
replicaCount: 1
ingress:
  enabled: false
hpa:
  maxReplicas: 2
  minReplicas: 1
  cpuUtilization:
    targetPercentage: 70
  memoryUtilization:
    targetPercentage: 70
service:
  type: ""
  loadbalancer: true
  name: api
  externalPort: 80
  internalPort: 8080
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
    